<!DOCTYPE html>
<html>
<head>
	<title>The Molecular Playground - Home Page</title>
</head>
<body>
	<h1>The Molecular Playground</h1>
	<h2>Home Page</h2>
	<h3>The Molecular Playground allows the general public to interact with molecules in a natural way. The Playground makes complex concepts in chemistry (such as molecular structure) more accessible to the general public.</h3>
</body>
</html>
