<div class="container-fuild full_height">
  <div class="row fill_parent">
    <div class="col m12 fill_parent">
      <div id="gallery_content" class="row white z-depth-1 fill_parent">
        <div class="container">
          <div class="row">
            <div class="col l12" style="z-index:51;">
              <h5 >Currently Displaying:<br> <h6 id="molName" class="blue-text">Dextroamphetamine</span></h6>
            </div>
          </div>

          <div class="row no-bottom-margin">
            <div class="col l5">
              <div class="input-field black-text">
                <input id="search" type="search" required ng-model="searchText">
                <label for="search"><i class="material-icons">search</i></label>
                </div>
              </div>
          </div>

          <div class="row">
            <div class="col l5">

              <table class="highlight" ng-controller="jmolCntrl as jmol">
                <thead>
                  <tr>
                      <th data-field="id">Name</th>
                      <th data-field="name">Author</th>
                  </tr>
                </thead>

                <tbody>
                  <tr ng-repeat="mol in jmol.molecules | filter:searchText" ng-click="load_model(mol.src)" onclick="load_model(this.getElementsByTagName('td')[0],this.getElementsByTagName('td')[1])">
                    <td hidden="true">{{mol.src}}</td>
                    <td>{{mol.name}}</td>
                    <td>{{mol.author}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fixed-action-btn" style="top: 6em; right: 24px;">
    <a class="btn-floating btn-large red" onclick="$('#submitContentModal').openModal();">
      <i class="material-icons">file_upload</i>
    </a>
  </div>

  <!-- Modal Structure -->
  <div id="submitContentModal" class="modal modal-fixed-footer" ng-controller="jmolCntrl as jmol">
    <div class="modal-content">
      <h4>{{jmol.fields.coordFilePath}}</h4>
      <div class="container">
        <div class="row">
          <div class="input-field col s12" ng-model="jmol.fileType">
            <select>
              <option value="" disabled selected>File Type</option>
              <option value="1">XYZ Coornate</option>
              <option value="2">Animation</option>
            </select>
            <label>Materialize Select</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col l12">
            <div class="file-field input-field">
              <div class="btn blue">
                <span>XYZ Coornate</span>
                <input type="file" id="cfP" ng-model="jmol.fields.file"  ng-change="jmol.getfile()">
              </div>
              <div class="file-path-wrapper">
                <input id="test" class="file-path validate" type="text"  ng-model="jmol.fields.coordFilePath" accept=".mol, .txt">
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-if="jmol.fileType == 2">
          <div class="input-field col l12">
            <div class="file-field input-field">
              <div class="btn blue">
                <span>Animation</span>
                <input type="file" id="afP">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" ng-model="jmol.fields.animationFilePath" accept=".mol, .txt">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col l12">
            <input id="titleinput" type="text" name="title" ng-model="jmol.fields.title">
            <label for="titleinput">Title</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col l12">
            <textarea id="descriptioninput" class="materialize-textarea" name="description" ng-model="jmol.fields.desc"></textarea>
            <label for="descriptioninput">Description</label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer z-depth-2">
      <button class="btn waves-effect waves-light blue" ng-click="jmol.uploadContent()">
        Submit
      </button>
    </div>
</div>

  <script type="text/javascript">
  	$(document).ready(function(){
  		$('select').material_select();
  	});
    $("#file").change(function(){
         console.log('fuck everything');
       });
  </script>
