<!DOCTYPE html>
<html>
<head>
	<title>The Molecular Playground - Error</title>
</head>
<body>
	<h1>The Molecular Playground</h1>
	<h2>There has been an error:</h2>
	<% if (message) { %>
		<p><%= message %></p>
	<% } %>
</body>
</html>
