<div class="container-fuild">
  <div class="row">
    <div class="col m12">
      <div class="row white z-depth-1">
        <h3>Home</h3>
        <div class="col m10 offset-m1 blue">
          <div class="card card-btn">
            <h3>Content Author Page</h3>
          </div>
        </div>
        <div class="col m10 offset-m1 blue">
          <div class="card card-btn">
            <h3>Playground Management</h3>
          </div>
        </div>
        <div class="col m10 offset-m1 blue">
          <div class="card card-btn">
            <h3>Global Management</h3>
          </div>
        </div>
        <div class="col m10 offset-m1 blue">
          <div class="card card-btn">
            <h3>Playlist Creation Tool</h3>
          </div>
        </div>


      </div>
    </div>
  </div>
