<!DOCTYPE html>
<html>
<head>
	<title>The Molecular Playground - Home Page</title>
	<script type="text/javascript" src="lib/materialize/css/materialize.min.css"></script>
</head>
<body>
	
	<h1>The Molecular Playground</h1>
	<h2>Home Page</h2>
	<h3>The Molecular Playground allows the general public to interact with molecules in a natural way. The Playground makes complex concepts in chemistry (such as molecular structure) more accessible to the general public.</h3>
	<h4 id="description">Default</h4>


	<script type="text/javascript" src="lib/jquery/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="lib/socketio/socket.io-1.3.7.js"></script>
	<script type="text/javascript" src="lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="lib/materialize/js/materialize.min.js"></script>

	<script type="text/javascript" src=".lib/clientjs/index_client.js"></script>
</body>
</html>
