<!-- Navigation Menu -->
<div class="container-fluid">
  <div class="row" style="margin-bottom:0 !important;">
    <nav class="blue">
      <div class="nav-wrapper">
        <div class="col s12">
          <!--<img src="assests/img/logo.png" class="circle" align="center" height="54px">     ng-repeat="(key, value) in nav.links"-->
          <a href="#" class="brand-logo">The Molecular Playground</a>
          <ul id="nav-mobile" class="right">
            <li ng-repeat="link in (nav.get_links())">
              <a ng-click="">{{link.text}}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<signinupmodal></signinupmodal>
