<div class="container-fuild full_height">
  <div class="row fill_parent">
    <div class="col m12 fill_parent">
      <div id="gallery_content" class="row white z-depth-1 fill_parent">
        <div class="container">
          <div class="row">
            <div class="col l12" style="z-index:51;">
              <h4>UMass ISB Playground</h4>
            </div>
          </div>

          <div class="row">
            <div class="col l12">
              <h5>Delegate Management</h5>
            </div>
          </div>

          <div class="row">
            <div class="col l12">
              <table class="highlight" ng-controller="usersCntrl as user">
                <thead>
                  <tr>
                      <th data-field="id">Name</th>
                      <th data-field="name">Email</th>
                      <th data-field="id">Status</th>
                      <th data-field="name">Edit</th>
                      <th data-field="id">Create</th>
                  </tr>
                </thead>
              </div>
            </div>

            <tbody>
              <tr ng-repeat="user in users | filter:searchText">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td align="center">
                  <i class="material-icons green-text" ng-if="user.status == 'approved'">thumb_up</i>
                  <i class="material-icons trans-text" ng-if="user.status == 'rejected'">thumb_down</i>
                  <i class="material-icons red-text" ng-if="user.status == 'rejected'">thumb_down</i>
                  <i class="material-icons black-text" ng-if="user.status == 'waiting'"><a ng-click="updateStatus(user.name,'approved');"> thumb_up</a></i>
                  <i class="material-icons black-text" ng-if="user.status == 'waiting'"><a ng-click="updateStatus(user.name,'rejected');">thumb_down</a></i>

                </td>
                <td>
                  <p ng-if="user.editPlaylists">
                    <input type="checkbox" id="editPlaylists" checked="checked" />
                    <label for="editPlaylists"></label>
                  </p>
                  <p ng-if="!user.editPlaylists">
                    <input type="checkbox" id="editPlaylistsN"/>
                    <label for="editPlaylistsN"></label>
                  </p>
                <td>
                  <p ng-if="user.createPlaylists">
                    <input type="checkbox" id="createPlaylists" checked="checked" />
                    <label for="createPlaylists"></label>
                  </p>
                  <p ng-if="!user.createPlaylists">
                    <input type="checkbox" id="createPlaylistsN"/>
                    <label for="createPlaylistsN"></label>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="spacer"></div>
          <div class="row">
            <div class="col l12">
              <h5>Playlist Schedule Management</h5>
              <h6 class="blue-text">Not Implemented</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fixed-action-btn" style="top: 6em; right: 24px;">
    <a class="btn-floating btn-large red" onclick="$('#submitContentModal').openModal();">
      <i class="material-icons">add</i>
    </a>
  </div>

  <!-- Modal Structure -->
  <div id="submitContentModal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Create Playlists</h4>
      <div class="container">
        <div class="row">
          <h5 class="blue-text">Unimplemented</h5>
        </div>
      </div>
    </div>
    <div class="modal-footer z-depth-2">
      <button class="btn waves-effect waves-light blue" ng-click="">
        Submit
      </button>
    </div>
</div>

  <script type="text/javascript">
  	$(document).ready(function(){
  		$('select').material_select();
  	});
  </script>
