<!-- Modal Structure -->
<div id="signinupModal" class="modal modal-fixed-footer">

  <!-- SIGN UP MODAL-->
  <form ng-if="type === 'Sign Up'" id="signupform">
    <div class="modal-content">
      <h4>{{type}}</h4>
      <div class="container">
        <div class="row">
          <div class="input-field col m12">
            <input id="firstnameinput" type="text" name="firstname" ng-model="nav.fields.firstname">
            <label for="firstnameinput">First Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col m12">
            <input id="lastnameinput" type="text" name="lastname" ng-model="nav.fields.lastname">
            <label for="lastnameinput">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col m12">
            <input id="emailinput" type="text" name="email" ng-model="nav.fields.email">
            <label for="emailinput">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col m12">
            <input id="phonenumberinput" type="text" name="phonenumber" ng-model="nav.fields.phonenumber">
            <label for="phonenumberinput">Phone Number</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col m12">
            <input id="usernameinput" type="text" name="username" ng-model="nav.fields.username">
            <label for="usernameinput">Desired username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col m12">
            <input id="passwordinput" type="password" name="password" ng-model="nav.fields.password">
            <label for="passwordinput">Password</label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer z-depth-2">
      <button class="btn waves-effect waves-light blue" ng-click="nav.signInUp(nav.fields,'signup')">
        Sign Up
      </button>
    </div>
  </form>

  <!-- LOG IN FORM -->
  <form ng-if="type === 'Log In'" id="logform">
    <div class="modal-content">
      <h4>{{type}}</h4>

        <div class="row">
          <div class="input-field col m12">
            <input id="usernameinput" type="text" name="username" ng-model="nav.fields.username">
            <label for="usernameinput">Username</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col m12">
            <input id="passwordinput" type="password" name="password" ng-model="nav.fields.password">
            <label for="passwordinput">Password</label>
          </div>
        </div>
    </div>
    <div class="modal-footer z-depth-2">
      <button class="btn waves-effect waves-light blue" ng-click="nav.signInUp(nav.fields,'login')">
        Log In
      </button>
    </div>
  </form>
</div>
