<!DOCTYPE html>
<html>
<head>
	<title>The Molecular Playground - Sign Up</title>
</head>
<body>
	<h1>Sign Up</h1>
	<br>
	<form id="signupform" action="usersignup" method="post" accept-charset="UTF-8">
		First Name:
		<input type="text" id="firstnameinput" name="firstname"></input>
		<br>
		Last Name:
		<input type="text" id="lastnameinput" name="lastname"></input>
		<br>
		Email:
		<input type="email" id="emailinput" name="email"></input>
		<br>
		Desired Username:
		<input type="text" id="usernameinput" name="username" min="3"></input>
		<br>
		Phone Number:
		<input type="text" id="phonenumberinput" name="phonenumber"></input>
		<br>
		<input type="submit" value="Submit"></input>
	</form>
</body>
</html>
